page-perfil {
	ion-title{
		line-height: 47px;
	}
	.button-edit{
		border-radius:50% !important;
		width: 30px;
	}
	.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
		border-bottom-color: #dedede;
		-webkit-box-shadow: inset 0 -1px 0 0 #dedede;
		box-shadow: inset 0 -1px 0 0 #dedede;
	}
	.list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child, .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child {
		border-bottom-color: #dedede;
		-webkit-box-shadow: inset 0 -1px 0 0 #dedede;
		box-shadow: inset 0 -1px 0 0 #dedede;
	}
	.item-md .item-button {
		padding: 0 0.6em;
		height: 3.6rem;
		font-size: 1.7rem;
	}
	.item-md.item-block .item-inner {
		padding-right: 8px;
		border-bottom: 0px;
	}
	.container img {
		background-color: white;
		padding: 1%;
		height: auto;
		width: auto;
		max-width:126.6px;
		min-height: 145px;
		border: 1px solid #ccc;
		border-radius: 50%;
		margin: auto;
		vertical-align: middle;
		.pantalla-1{
			width: 150px;
			height: auto;
			max-height: 145px;
			object-fit: contain;
			margin: 0 auto;
		}
	}
	.Infor-Person{
		font-size: 15px;
	}
	.contenido-Perfil{
		margin-top: 0%;
		ion-avatar img{
			width:120px !important;
			height:120px !important;
		}
		ion-list{
			margin-top:5% !important;
			.infor-form{
				margin-bottom: 2%;
				&__label{
					font-size: 16px;
					font-weight:bold;
				}
				&__text{
					line-height: 1.9;
					font-size: 15px;
					display: inline;
				}
				&__item{
					margin-top: -10px;
				}		
			}
			.row-buttons{
				margin-top: 7%;
				text-align: center;
				display: inline;
			}
		}
	}
}
