page-gestorlist {
	h1,h2,h3,h4,h5{
		color:  rgb(37,119,159);
	}
	.toolbar-background {
		// background-color: rgba(0,174,239, 0.2);
		background-color: rgb(252, 171, 56);
	}
	.header-c{
		margin-bottom:0px;
	}
	.row-line{
		line-height:0px;
	}
	.bg-theme{
		background-color: rgba(54,161,213, 0.1);
	}
	.bg-profile{
		background-color:white;
    border-bottom: 2px solid #dedede;
	}
	.img-fab{
		padding: 3px;
		padding-top: 6px;
	}
	.item-border{
		border-bottom: 1px solid #dedede !important;
	}
	.calle-datos{
		color: #040404;
		margin-top: 14px !important;
	}
	.list-md .item-block .item-inner {
		border-bottom: 0px;
	}
	.row-gestor{
		position: relative;
		left: 24%;
		top: -60px;
	}
	.col-align{
		align-self:center;
	}
	.icon-profile{
		width:25px;
	}
	.list-style{
		margin-top: -10%;
	}
	.item-edit{
		width: 240px;
		padding-left:0px;
	}
	.img-profile{
		width: 80px !important;
		height: 90px !important;
		margin-top: 7px !important;
	}
	.toolbar-title{
		font-size: 2.5rem;
		font-weight:300;
		text-shadow: 1px 1px 1px black;
	}
	.title-1{
		color:#040404;
	}
	.title-2{
		color:#e7cb3f;
		font-weight:500;
	}
	.title-acc{
		text-shadow: 1px 1px 0px black;
		font-weight: 600;
		font-size: 1.7rem;
	}
	.title-list{
		color:black;
		font-weight:500;
		font-size: 1.9rem;
	}
	.button-inner{
		color:white;
		text-shadow: 2px 2px 2px black;
	}
	.accordion-list {
		background: color($colors, light);
		height: 100%;
	}
	.section {
		background: #fff;
		color: #000;
		border-top: 2px solid #dedede;
		border-bottom: 2px solid #dedede;
	}
	.section-active {
		background-color: rgb(252, 171, 56);
		color: #fff;
	}
	.child {
		background: #e8e7e6;
		color: #000;
		// margin-bottom: 4px;
	}
	.header-accordion{
		margin-bottom: 2px;
	}
	.child-item {
		background: #f3f2f1;
		border-bottom: 2px solid #dedede !important;
	}
	.label {
		margin: 0px;
	}
	.list {
		margin-bottom: 0px;
	}
	.item-md ion-icon[item-left] + .item-inner, .item-md ion-icon[item-left] + .item-input, .item-md ion-icon[item-start] + .item-inner, .item-md ion-icon[item-start] + .item-input {
		margin-left: 0px;
	}
}
