page-home {
	.sticker{
		background-color: rgba(0,0,0, 0.2);
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
	}
	ion-header {
		.toolbar-title{
			font-size: 3rem;
			font-weight:300;
			text-shadow: 1px 1px 1px black;
		}
		.title-1{
			color:#040404;
		}
		.title-2{
			color:#e7cb3f;
			font-weight:500;
		}
		.toolbar-background {
			background-color:transparent;

		}
	}
	ion-content {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background-image: url(../assets/imgs/inicio.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		ion-grid{
			margin-top:15%;
		}
		// ion-row {
			// 	margin-top: -7px;
			// }
			.button-home {
				border-radius: 0px;
				height:30.3vh;
				box-shadow: none;
				background-color:transparent;
				.button-home:active{
					background-color:Transparent;
				}
				label {
					display: block;
					padding-top: 5px;
					color:white;
					text-shadow: 2px 2px 2px black;
				}
				ion-icon {
					font-size: 70px;
					text-shadow:2px 2px 2px  #000;
				}
			} 
			ion-item {
				background-color: transparent;
				color: #fff;
				h2 {
					text-align: right;
				}
			}
		}
	}

