<ion-header>
  <ion-navbar>
    <ion-title text-center>
      <span class="title-1">Registro de </span><span class="title-2">Niños</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bg-theme">
 <!--  <button ion-button  color="login" icon-start (tap)="MoveToPage()">
    <ion-icon name="md-person-add"></ion-icon>Registrar Niño
  </button> -->
  <ion-fab bottom right>
    <button ion-fab mini color="yellow" (tap)="MoveToPage()"><ion-icon name="md-person-add"></ion-icon></button>
  </ion-fab>
  <ion-row style="margin-top:2.5rem" padding>
    <ion-col col-2>
      <ion-avatar>
        <img style="width: 30px; height: 30px;" src="assets/imgs/regis2.png">
      </ion-avatar>
    </ion-col>
    <ion-col col-10 style="align-self: center;">
      <h2 style="margin-top: 0.5rem;font-size:2rem">Niños Registrados</h2>
    </ion-col>
  </ion-row>
  <ion-list>
<!--     <ion-list-header no-lines style="background-color:transparent">
      <h2 text-center class="title-list">Niños Registrados&nbsp;<ion-icon name="ios-people"></ion-icon></h2>
    </ion-list-header> -->
    <ion-item (tap)="MoveToPerfil()" style="border-bottom: 1px solid #dedede;">
      <ion-avatar item-start>
        <img class="img-profile" src="assets/imgs/kiid.png">
      </ion-avatar>
      <h2>Juan Gonzalez</h2>
      <ion-row>
        <ion-col col-2>
          <img class="icon-profile" src="assets/imgs/school.png">
        </ion-col>
        <ion-col col-10 style="align-self: center" no-padding>
          <p>San Jose</p>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item (tap)="MoveToPerfil()" style="border-bottom: 1px solid #dedede;">
      <ion-avatar item-start>
        <img class="img-profile" src="assets/imgs/kiid.png">
      </ion-avatar>
      <h2>Luis Perez</h2>
      <ion-row>
        <ion-col col-2>
          <img class="icon-profile" src="assets/imgs/school.png">
        </ion-col>
        <ion-col col-10 style="align-self: center" no-padding>
          <p>Santa Lusia</p>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item (tap)="MoveToPerfil()" style="border-bottom: 1px solid #dedede;">
      <ion-avatar item-start>
        <img class="img-profile" src="assets/imgs/kiid.png">
      </ion-avatar>
      <h2>Maria Fajardo</h2>
      <ion-row>
        <ion-col col-2>
          <img class="icon-profile" src="assets/imgs/school.png">
        </ion-col>
        <ion-col col-10 style="align-self: center" no-padding>
          <p>Gira Luna</p>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item (tap)="MoveToPerfil()" style="border-bottom: 1px solid #dedede;">
      <ion-avatar item-start>
        <img class="img-profile" src="assets/imgs/kiid.png">
      </ion-avatar>
      <h2>Jennifer Perez</h2>
      <ion-row>
        <ion-col col-2>
          <img class="icon-profile" src="assets/imgs/school.png">
        </ion-col>
        <ion-col col-10 style="align-self: center" no-padding>
          <p>Sagrado Corazón</p>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item (tap)="MoveToPerfil()" style="border-bottom: 1px solid #dedede;">
      <ion-avatar item-start>
        <img class="img-profile" src="assets/imgs/kiid.png">
      </ion-avatar>
      <h2>Carlos Urbina</h2>
      <ion-row>
        <ion-col col-2>
          <img class="icon-profile" src="assets/imgs/school.png">
        </ion-col>
        <ion-col col-10 style="align-self: center" no-padding>
          <p>Sagrado Corazón</p>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item (tap)="MoveToPerfil()" style="border-bottom: 1px solid #dedede;">
      <ion-avatar item-start>
        <img class="img-profile" src="assets/imgs/kiid.png">
      </ion-avatar>
      <h2>Jesús Rodriguez</h2>
      <ion-row>
        <ion-col col-2>
          <img class="icon-profile" src="assets/imgs/school.png">
        </ion-col>
        <ion-col col-10 style="align-self: center" no-padding>
          <p>Gira Luna</p>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item (tap)="MoveToPerfil()" style="border-bottom: 1px solid #dedede;">
      <ion-avatar item-start>
        <img class="img-profile" src="assets/imgs/kiid.png">
      </ion-avatar>
      <h2>Jordan Pacheco</h2>
      <ion-row>
        <ion-col col-2>
          <img class="icon-profile" src="assets/imgs/school.png">
        </ion-col>
        <ion-col col-10 style="align-self: center" no-padding>
          <p>Santa Lusia</p>
        </ion-col>
      </ion-row>
    </ion-item>
   <!--  <ion-item style="background-color:transparent;border-left:5px solid rgb(37,119,159);margin-bottom:5px;border-bottom:5px solid rgba(54,161,213, 0.7);" no-lines *ngFor="let d of diseases; let i=index" text-wrap (click)="toggleGroup(i)">
      <ion-row>
        <ion-col col-3>
          <ion-avatar item-start>
            <img src="assets/imgs/userperfil.png" [ngClass]="{imgactive: isGroupShown(i)}">
          </ion-avatar>
        </ion-col>
        <ion-col col-7 style="align-self: center;">
          <h3 class="title-acc" [ngClass]="{active: isGroupShown(i)}">
            {{d.title}}
          </h3>
        </ion-col>
        <ion-col col-2 style="align-self: center;">
          <ion-icon color="success" item-right [name]="isGroupShown(i) ? 'ios-arrow-dropdown-outline' : 'ios-arrow-dropright-outline'"></ion-icon>
        </ion-col>
      </ion-row>
      <div *ngIf="isGroupShown(i)">
        <ion-row>
         <ion-col col-12>
           <ion-item>
            <ion-avatar item-start>
              <img class="icon-profile" src="assets/imgs/phone.png">
            </ion-avatar>
            <p>Teléfono</p>
            <h2>{{d.telefono}}</h2>
          </ion-item>
        </ion-col>
        <ion-col col-12>
         <ion-item>
          <ion-avatar item-start>
            <img class="icon-profile" src="assets/imgs/school.png">
          </ion-avatar>
          <p>Colegio</p>
          <h2>{{d.establecimiento}}</h2>
        </ion-item>
      </ion-col>
      <ion-col col-12>
        <ion-item>
          <ion-avatar item-start>
            <img class="icon-profile" src="assets/imgs/pins.png">
          </ion-avatar>
          <p>Lugar de Retiro</p>
          <h2>{{d.retiro}}</h2>
        </ion-item>
      </ion-col>
      <ion-col col-12>
       <ion-item>
        <ion-avatar item-start>
          <img class="icon-profile" src="assets/imgs/pins.png">
        </ion-avatar>
        <p>Lugar de Llegada</p>
        <h2>{{d.llegada}}</h2>
      </ion-item>
    </ion-col>
    <ion-col col-12>
      <ion-item>
            <ion-avatar item-start>
              <img class="icon-profile" src="assets/imgs/observacion.png">
            </ion-avatar>
            <p>Observaciones</p>
            <h2>{{d.observaciones}}</h2>
          </ion-item>
    </ion-col>
  </ion-row>
</div>
</ion-item> -->
</ion-list>

</ion-content>